<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Daewoo Express</span>

    <span class="example-spacer"></span>
<!--     
    <button mat-button>Bookings</button>
    <button mat-button>Services</button>
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button> -->
  </mat-toolbar-row>
</mat-toolbar>

 

<mat-tab-group>    
    <mat-sidenav-container class="example-container" *ngIf="shouldRun">
        <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
        <mat-sidenav-content>Main content</mat-sidenav-content>
      </mat-sidenav-container>
      
      <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
  
  
  <mat-tab label="Home">
        <h1>Schedule</h1>
       
        <div> Arrival   : <select> <option *ngFor="let i of Arrival">{{i}}</option> </select> </div>

        <div> Departure : <select> <option *ngFor="let i of Departure">{{i}}</option> </select> </div>
<div>


  <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>

</div>            

<mat-button-toggle>See Schedule</mat-button-toggle>

<app-route>  </app-route>>



</mat-tab>


  



  <mat-tab label="Booking">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>

  <mat-tab label="Fare">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>

  <mat-tab label="Schedule">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>

  <mat-tab label="Terminal">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>

  <mat-tab label="News">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>

  <mat-tab label="About us">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Complaint/Suggestions">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>


</mat-tab-group>